---
import BaseLayout from "../layouts/BaseLayout.astro";
import ArrivalSection from "../components/sections/ArrivalSection.astro";
import ContactSection from "../components/sections/ContactSection.astro";
import HomeAnimations from "../components/sections/HomeAnimations.astro";
import InvitationSection from "../components/sections/InvitationSection.astro";
import StorySection from "../components/sections/StorySection.astro";
import SiteFooter from "../components/site/SiteFooter.astro";
import SiteHeader from "../components/site/SiteHeader.astro";
import { storyChapters } from "../data/storyChapters";
---

<BaseLayout>
  <SiteHeader />

  <main>
    <InvitationSection />
    <StorySection chapters={storyChapters} />
    <ArrivalSection />
    <ContactSection />
  </main>

  <SiteFooter />
  <HomeAnimations />
</BaseLayout>
